
*.pdf
*.zip
*.docx
*.doc
*.pptx

*.gitignore
*.jpg
*.jpeg
*/.DS_Store
*/.idea
*/.vscode
*/.vs
*/.git
*/.gitignore
*/.gitattributes
*/.gitmodules
*/.gitkeep
*/.gitconfig
*/.gitmessage
*/.gitlab-ci.yml
*/.github
*/.gitlab
/coding_test/abandoned/*